Package: com.nicho1as.roundedcc
Name: RoundedCC
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Rounded control center modules for a cleaner look?
Maintainer: Nicholas Musumeci
Author: Nicholas
Section: Tweaks
Version: 1.0-1+debug
Installed-Size: 204
